body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1 {
    font-size: 50px;
}
h2 {
    font-size: 40px;
}
.orange-color {
    color: orange;
}
.flexible-container {
    display: flex;
}

.half-width {
    width: 50%;
    margin-left: 8%;
    margin-top: 200px;
}
.half-width img {
    width: 80%;
}
.button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}
.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.m-r {
    width: 90%;
}
.middle-banner {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    padding-bottom: 250px;
}
.exp {
    margin-top: 0;
    padding-top: 0;
}
.exp-bg{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.shadow {
    width: 40%;
    margin-left: 5%;
    padding: 50px 50px;
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
}
.border-tomato {
    border-left: 10px solid tomato;
}
.border-blue {
    border-left: 10px solid blue;
}
footer p {
    text-align: center;
    color: #333;
    margin-top: 100px;
}